
body {
    background: var(--bs-light);
}

header {
    height: 5rem;
}
header a {
    text-decoration: none;
}
header a h1 img {
    height: 3rem;
}

#hero {
    padding: 5rem 0 15rem 0;

    background: url('../images/background.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;

    text-shadow: 0 0 .50rem #000;
}

#resources {
    background: url('../images/background2.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;

    text-shadow: 0 0 .50rem #000;
}

.section {
    padding: 5rem 0;
}
.shadow {
    box-shadow: 0 0 2rem #444;
    border: solid 1px var(--bs-light);
    border-width: 1px 0;
}

.card {
    min-height: 34rem;
}